### First import necessary packages by running the cell below!

In [1]:
## import modules

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

## Task 1: Import demographic data dataset

## Task 2: Get basic information about our dataset

In [5]:
demo_data["RIDAGEYR"]

0       22
1        3
2       14
3       44
4       14
5        9
6        0
7        6
8       21
9       15
10      14
11      43
12       2
13      80
14       5
15      34
16      51
17      80
18      55
19      35
20       9
21      75
22       6
23      26
24      16
25      17
26       9
27       2
28      30
29      15
        ..
9726    68
9727    67
9728     5
9729    31
9730    54
9731     0
9732     3
9733    11
9734    31
9735     4
9736    68
9737    65
9738     3
9739    26
9740    48
9741    67
9742     6
9743    30
9744     8
9745     4
9746    80
9747    66
9748    28
9749     0
9750    27
9751    40
9752    18
9753    10
9754    60
9755    16
Name: RIDAGEYR, Length: 9756, dtype: int64

In [6]:
demo_data_info = demo_data.shape
num_rows = demo_data_info[0]
num_columns = demo_data_info[1]
column_names =demo_data.columns

In [7]:
print("Number of rows/records:", num_rows)
print("Number of columns:", num_columns)
print("Column names:", column_names)

### Quick note on the print() function:
# In the print statements above we give print() 2 arguments,
# a string and a variable, separated by commas. The print()
# function will print out the string first, then a space,
# followed by the value stored in the variable.

### The print() function can take any number of
### comma-separated arguments!

Number of rows/records: 9756
Number of columns: 41
Column names: Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1',
       'RIDRETH3', 'RIDEXMON', 'DMQMILIZ', 'DMDBORN4', 'DMDCITZN', 'DMDEDUC2',
       'DMDMARTL', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY',
       'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'WTINT2YR',
       'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR',
       'DMDHHSIZ', 'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND',
       'DMDHRAGE', 'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU'],
      dtype='object')

## Task 3: Example of using some `numpy` summary statistic functions

In [8]:
my_list = [45, 32, 12, 12, 98, 13, 34, 38, 56, 31]
list_mean = np.mean(my_list)
list_median = np.median(my_list)
list_std = np.std(my_list)
list_min = np.min(my_list)
list_max = np.max(my_list)

print(list_mean, list_median, list_std, list_min, list_max, sep=", ")
# This is a formatted print statement that prints out the values
# stored in the variables and separates them with commas.

37.1, 33.0, 24.582310713193745, 12, 98

## Task 4: Mean, median, standard deviation, minimum and maximum

In [13]:
## store the values in the RIDAGEYR column in a variable
ages = demo_data["RIDAGEYR"]

## compute the mean, median, standard deviation, minimum and maximum
age_mean = np.mean(ages)
age_median = np.median(ages)
age_std = np.std(ages)
age_min = np.min(ages)
age_max = np.max(ages)

In [14]:
print("Mean age:", age_mean)
print("Median age:", age_median)
print("Age standard deviation:", age_std)
print("Min age:", age_min)
print("Max age:", age_max)

Mean age: 31.40262402624026
Median age: 26.0
Age standard deviation: 24.577730390800262
Min age: 0
Max age: 80

In [11]:
## store the values in the RIDAGEYR column in a variable
ages = demo_data["DMDHRAGE"]

## compute the mean, median, standard deviation, minimum and maximum
age_mean = np.mean(ages)
age_median = np.median(ages)
age_std = np.std(ages)
age_min = np.min(ages)
age_max = np.max(ages)

In [12]:
print("Mean age:", age_mean)
print("Median age:", age_median)
print("Age standard deviation:", age_std)
print("Min age:", age_min)
print("Max age:", age_max)

Mean age: 45.390631406314064
Median age: 43.0
Age standard deviation: 15.86711390843867
Min age: 18
Max age: 80

## Task 5: Interquartile range

In [5]:
## compute the 25th percentile (first quartile)
## and the 75th percentile (third quartile)
ages = demo_data["RIDAGEYR"]

lower = np.percentile(ages, 25)
upper = np.percentile(ages, 75)

## Task 6: Five number summary

In [ ]:
## add the five number summary statistics to the list
age_fivenumsum = []

print("Age five-number summary:", age_fivenumsum)